html {
  font-size: 62.5% !important;
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  font-size: 1.6rem;
  font-family: Abhaya Libre;
  font-style: normal;
  letter-spacing: 1.2px;
  overflow-x: hidden;
  min-width: 100%; }

p {
  font-family: Amiri; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.block2 {
  position: relative;
  background: url("../img/vector/vecto1.png") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw; }

.vectorLine {
  object-fit: cover; }

.dashedLine {
  position: absolute;
  top: 65%;
  transform: translateY(-65%);
  width: 100vw; }

.name {
  font-family: Arbutus Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 30px; }

.year {
  font-family: Arbutus Slab;
  font-style: normal;
  font-weight: normal;
  color: #FEFEFE;
  font-size: 3rem;
  line-height: 25px; }

.belgiBlock {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 15.8%;
  color: #FEFEFE; }
  .belgiBlock img {
    width: 12vw; }

.bilgen {
  position: absolute;
  text-align: center;
  top: 49.5%;
  left: 43.5%;
  color: #FEFEFE; }
  .bilgen img {
    width: 12vw; }

.bilgenTech {
  position: absolute;
  text-align: center;
  top: 25%;
  left: 79%;
  color: #FEFEFE; }
  .bilgenTech img {
    width: 10vw; }

.newsBlock {
  margin-top: 105px;
  line-height: 1.2; }

.smallBlock {
  margin-top: 80px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: black; }
  .smallBlock p {
    margin-right: 5px; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.8); }

.bigBlock {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  border-radius: 15px; }
  .bigBlock p {
    text-indent: 20px; }
  .bigBlock .head {
    margin: 25px !important; }
  .bigBlock .date {
    text-align: right;
    margin-right: 25px;
    margin-bottom: 55px; }
  .bigBlock .wrap {
    margin-left: 20px;
    margin-bottom: 15px; }
  .bigBlock img {
    width: 50%;
    float: right;
    margin: 15px; }

.close-popup {
  background-color: black;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: all .5s ease; }
  .close-popup:hover {
    background-color: red; }

.close-popup:before {
  content: '';
  background-color: white;
  position: absolute;
  height: 2px;
  width: 15px;
  top: 12px;
  left: 5.5px;
  transform: rotate(-45deg); }

.close-popup:after {
  content: '';
  background-color: white;
  position: absolute;
  height: 2px;
  width: 15px;
  top: 12px;
  transform: rotate(45deg);
  left: 5.5px; }

.text {
  padding: 0 15px; }
  .text::after {
    content: "";
    clear: both;
    display: table; }

.block {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 25px 10px;
  padding-bottom: 8px;
  width: 23%;
  transition: all .3s ease; }
  .block p {
    text-indent: 20px; }
  .block .head {
    margin-top: 55px; }
  .block .date {
    float: right; }
  .block:hover {
    transform: translateY(-1rem) scale(1.01); }
  .block img {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.date {
  color: #808080;
  font-family: Advent Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  margin-left: 15px; }

.head {
  color: #2980B9;
  font-family: Abhaya Libre;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 0;
  text-align: center; }

.comments {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  background: #F7F7F7;
  border: 1px solid #808080;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 13px 15px;
  margin-right: 8px; }
  .comments i {
    font-size: 2rem;
    color: #808080;
    margin-right: 5px; }

.newsComment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px !important; }

.block3Line {
  margin-left: 0 !important;
  padding: 0 !important;
  width: 70%; }

@media only screen and (max-width: 767px) {
  .text {
    font-size: 1.2rem; }
  .newsTop {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 15px; }
    .newsTop::nth-child(3) {
      order: 1; }
    .newsTop:nth-child(1) {
      order: 2; }
    .newsTop::nth-child(2) {
      order: 3; }
    .newsTop img {
      margin: 0px !important;
      width: 100%; }
    .newsTop .date {
      color: #808080;
      font-family: Advent Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      float: none;
      margin-left: 0px; }
    .newsTop .head {
      order: -1;
      color: #2980B9;
      font-family: Abhaya Libre;
      font-style: normal;
      font-weight: bold;
      font-size: 1.4rem;
      margin-top: 0;
      text-transform: uppercase;
      padding: 0 0;
      line-height: 0;
      text-align: center; }
  .block3Line {
    width: 72%; }
  .bigBlock {
    display: none; }
  .smallBlock {
    display: block; }
  .block {
    width: 100%; }
    .block:first-child {
      margin-left: inherit; }
    .block:last-child {
      margin-right: inherit; }
    .block img {
      width: 90%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .comments {
    border-radius: 25px;
    padding: 1rem 2rem;
    margin-right: 5px;
    font-size: 1.2rem; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .block {
    width: 33% !important; } }

.team {
  display: block;
  margin: auto;
  padding: 85px 0;
  width: 100%; }
  .team h1 {
    text-align: center;
    margin-bottom: 55px; }

.teamMember {
  padding: 25px;
  display: flex;
  align-items: center;
  margin: 0 60px; }
  .teamMember:nth-child(2n+1) {
    flex-direction: row-reverse; }
  .teamMember section {
    margin: 0 100px; }
  .teamMember .memberName p {
    text-align: center;
    color: #2980B9;
    font-weight: bold;
    width: 50%;
    margin: auto; }
  .teamMember .memberText {
    text-align: center;
    width: 20%; }

@media only screen and (max-width: 767px) {
  .team {
    padding: 35px 0; } }

.bottomAdress {
  margin: auto;
  display: flex; }

.footerDate {
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.footer {
  background: rgba(0, 0, 51, 0.8);
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
  color: white;
  padding: 2rem;
  position: relative; }
  .footer section {
    margin: 35px; }
    .footer section p {
      font-size: 1.2rem;
      line-height: .7; }
  .footer .social {
    display: flex; }
    .footer .social a {
      margin: 8px; }

.phone {
  font-size: Alegreya Sans; }

@media only screen and (max-width: 768px) {
  .footer {
    width: 100%; }
  .footer-logo img {
    height: 10%; }
  .footerDate {
    font-size: .8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; } }

.menu {
  position: absolute; }

.map {
  margin: 0 !important;
  margin-top: 55px;
  padding: 0;
  line-height: 0; }
  .map video {
    width: 100%; }

.logo {
  height: 50px;
  margin-left: 40px;
  margin-top: 20px; }

.phone {
  font-size: Alegreya Sans; }

#canvas {
  height: 100vh;
  width: 100%; }

.header {
  padding: 15px;
  background: url(../img/bilgen_header_back.png) no-repeat center;
  background-size: cover;
  transform: scale(1.02);
  height: 110vh;
  text-indent: .1em;
  color: white; }
  .header ul {
    display: flex;
    float: right; }
    .header ul li {
      margin-right: 40px;
      list-style: none; }

.space {
  background-color: white;
  height: 40vh; }

@media only screen and (max-width: 768px) {
  .header {
    background: url(../img/headerback_mobilka.png) no-repeat center;
    background-size: cover;
    transform: scale(1.05);
    overflow-x: hidden; }
    .header ul {
      display: none; } }
